*{
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background-color: #101524;
    z-index: 999;
}
.banner{  
    background-image: url(../Image/image\ 18.png);
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
}
header .navigation {
    display: flex; 
    justify-content: space-between;   
    align-items: center;
    width: 100%;

    
}
ul li{
    display: inline-block;
    margin: 0 10px;

}
.container {
    max-width: 1200px;
    width: 100%;    
    margin: 0px auto;

}

li a{
    color: aliceblue;
}
.row {

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.head-texts{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.head-text{
    display: flex;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 24px;
    margin: 30px 0 30px 0;
}
.body-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #DFDFDF;
}   
.frontal{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 70px;
    border-radius: 5px;
    
}
.frontal img{
    width: 300px;
    height: 250px;
}
.card-head{
    padding: 10px;
    position: absolute;
    bottom: 101px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(1, 147, 220, 0.8);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}
.card-body{
    display: flex;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #919FAE;
    margin: 30px 0 30px 0 ;
  
}
.forest-head{
    padding: 10px;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(1, 147, 220, 0.8);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}
.p-relative{
    position: relative;
    max-width: 300px;
}
.lebih{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    padding: 10px;
    border: 1px;
    border-radius: 5px;
    background-color: #0193DC;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
   
}

.ta-center {  
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}


.imgfooter{
    width: 60px;
 }
 .location, span{
    font-weight: 700;
    font-size: 14px;
}
.media,.menus,.halamanumum p{
font-style: normal;
font-weight: 700;
font-size: 12px;
}
.media div{
    display: inline;
    margin: 10px;
    width: 15px;
    height: 15px;
    border: 2px solid rgb(243, 238, 238);
    
}
.hostname {
    margin: 20px;
    padding: 20px;  
    border-top: 5px solid #E6E6E7;
}
.hostname p{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}
 footer{
    margin-top: 50px;
}