*{
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background-color: #101524;
    z-index: 999;
}
.banner{  
    background-image: url(../Image/image\ 18.png);
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
}
header .navigation {
    display: flex; 
    justify-content: space-between;   
    align-items: center;
    width: 100%;

    
}
ul li{
    display: inline-block;
    margin: 0 10px;

}
.container {
    max-width: 1200px;
    width: 100%;    
    margin: 0px auto;

}

li a{
    color: aliceblue;
}
.row {

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.head-texts{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.head-text{
    display: flex;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 24px;
    margin: 30px 0 30px 0;
}
.body-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #DFDFDF;
}
table,tr,td,th {
    border: 2px solid #dad9d9;
    padding: 10px;
    text-align: center;
}

table {
    width: 100%;
    margin: 20px auto 0px 0px;
    border-collapse: collapse;
}

.data-ruang1-head tr {
    background-color: #2BA7E2 !important;
}

table thead tr:first-child {
    background-color: #2BA7E2;
}

table tbody tr:nth-child(even) {
    
    background-color: #B9CAFF;
}
.jadval-sisa{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin: 30px 0 30px 0;
  color: #0C101A;
}
.imgfooter{
    width: 60px;
 }
 .location, span{
    font-weight: 700;
    font-size: 14px;
 }


.media,.menus,.halamanumum p{
font-style: normal;
font-weight: 700;
font-size: 12px;
}
.media div{
    display: inline;
    margin: 10px;
    width: 15px;
    height: 15px;
    border: 2px solid rgb(243, 238, 238);
    
}
.hostname {
    margin: 20px;
    padding: 20px;  
    border-top: 5px solid #E6E6E7;
}
.hostname p{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}
footer{
    margin-top: 50px;
}





